# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.vsidx
*.db-wal
.vs/Oxy.FreeTypeConsole/v17/.suo
*.lock
*.opendb
*.db-shm
*.db
*.ipch

x64/
*.txt
*.cache
*.log
*.pdb
